.col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0.5rem;
}

.row {
  padding: 0.5rem;
}

.working {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.2rem;
}

.heading {
  font-size: 55px;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
  text-align: center;
  color: rgb(0, 0, 0);
}
.works {
  padding: 2rem 1rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  width: 90vw;
  margin: 0.5rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.work {
  width: 360px;
  margin: 1rem;
  box-shadow: 5px 5px 20px #aaa;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  padding: 1rem 1.1rem 1rem 1.1rem;
}

.book_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 450px;
}

.work img {
  width: 100%;
  max-height: 350px;
  border-radius: 6px;
}

.work_info {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0rem 0rem 0.2rem 0.1rem;
  letter-spacing: 0.5px;
  font-size: 28px;
  text-align: left;
}

.overview {
  padding: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.work:hover .overview {
  transform: translateY(0);
}

.back_content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.texting {
  padding: 0.1rem;
  font-size: 22px;
}

.about {
  padding: 0.1rem;
  padding-bottom: 1rem;
  font-size: 22px;
  color: #f65454;
}
.button {
  font-size: 20px;
  padding-top: 8px;
}

@media (max-width: 1120px) {
  .work_info {
    font-size: 24px;
  }
  .about {
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .work {
    width: 700px;
  }
  .work img {
    height: auto;
    width: 100%;
    border-radius: 6px;
  }
}

@media (max-width: 900px) {
  .book_data {
    min-height: 500px;
  }
}

@media (max-width: 600px) {
  .work_info {
    font-size: 21px;
  }
  .about {
    font-size: 15px;
  }
  .book_data {
    min-height: 400px;
  }
}

@media (max-width: 650px) {
  .row {
    padding: 0;
  }
  .working {
    padding: 0;
    margin: 1.5rem 0rem;
  }
  .works {
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 440px) {
  .texting {
    font-size: 20px;
  }
  .about {
    font-size: 16px;
  }
  .book_data {
    min-height: 300px;
  }
}
@media (max-width: 340px) {
  .texting {
    font-size: 16px;
  }
}
@media (max-width: 220px) {
  .texting {
    font-size: 13px;
  }
  .about {
    font-size: 13px;
  }
}
